@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  display: block;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 20px;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.header,.footer{
  display: flex;
  justify-content: space-between;
}

.footer{
  background-color: #eeeeee;
}

a{
  text-decoration: none;
  color:grey
}

.content{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100%;

}