body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;

}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 20px auto;
  text-align: center;
  padding: 12px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 10px 20px;
}